a {
  color: #777;
}
a:hover, a:focus, a:active {
  color: #fd6366;
}
footer {
  margin: 1em;
  padding: none;
}
img {
  margin: 0.5em;
}
/* THANK YOU http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */

/* navbar */
.navbar-default {
    background-color: #fd6366;
    border-color: #fd6366;
}
/* title */
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #fd6366;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fd6366;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #000;
    border-bottom-color: #000;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #000;
    border-bottom-color: #000;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #000;
    border-bottom-color: #000;
    color: #fff;
}
/* drop down */
.dropdown-menu {
  background-color: #fd6366;
  border: none;
}
.dropdown-menu>li>a:hover {
  background-color: #fd6366;
  border: none;
}
.dropdown-menu>li>span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: nowrap;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fd6366;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fd6366;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000;
    }
}
.resume-date {
  font-weight:bold;
}
.resume-list, .resume-list>li {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 0px;
}
.video-thumbnail {
  width: 560px;
  padding-bottom: 2em;
}